@{
    ViewBag.Title = "Predbilježbe";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Predbilježbe</h1>
    </div>
</div>
<div id="predbiljezbe">
</div>

<div class="modal" id="prijavaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Prijava</h4>
            </div>
            <form id="prijavaForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ime</label>
                        <input type="text" class="form-control" id="imeModal" name="imeModal"></input>
                    </div>
                    <div class="form-group">
                        <label>Prezime</label>
                        <input type="text" class="form-control" id="prezimeModal" name="prezimeModal"></input>
                    </div>
                    <div class="form-group">
                        <label>Adresa</label>
                        <input type="text" class="form-control" id="adresaModal" name="adresaModal"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnOdustani">Odustani</button>
                    <button type="button" class="btn btn-primary" id="btnPrijavaTok">Prijava</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var SeminarID = null;

        function UpdateBookings() {
            $.ajax({
                    url: '@Url.Action("GetBookings", "Bookings")',
                    type: 'GET'
                })
                .done(function(partialView) {
                    $('#predbiljezbe').html(partialView);
                    $('.footable').footable();
                });
        };

        function clearModal() {
            $('#imeModal').val("");
            $('#prezimeModal').val("");
            $('#adresaModal').val("");
        };

        $('#predbiljezbe')
            .on('click',
                '.btn.btn-primary',
                function(e) {
                    SeminarID = e.currentTarget.value;
                    console.log(SeminarID);
                });

        $("#prijavaForm")
            .validate({
                rules: {
                    imeModal: {
                        required: true
                    },
                    prezimeModal: {
                        required: true
                    },
                    adresaModal: {
                        required: true
                    }
                },
                messages: {
                    imeModal: {
                        required: 'Ime je obavezno polje!'
                    },
                    prezimeModal: {
                        required: 'Prezime je obavezno polje!'
                    },
                    adresaModal: {
                        required: 'Adresa je obavezno polje!'
                    }
                }
            });

        $('#btnPrijavaTok')
            .click(function() {
                var prijavaObj = {
                    'StudentName': $('#imeModal').val(),
                    'StudentSurname': $('#prezimeModal').val(),
                    'StudentAddress': $('#adresaModal').val(),
                    'SeminarID': SeminarID
                };

                if (!$("#prijavaForm").valid()) {
                    return;
                };

                $.ajax({
                    url: '@Url.Action("Create", "Bookings")',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'booking': prijavaObj
                    },
                    success: function(data) {
                        if (data.status == "success") {
                            $('#prijavaModal').modal('toggle');
                            $.notify(data.message, "success");
                            clearModal();
                        } else {
                            $.notify(data.message, "error");
                        }
                    },
                    error: function(xhr, status, error) {
                        $.notify("Greška prilikom prijave", "error");
                    }
                });
            });

        $('#btnOdustani')
            .click(function () {
                clearModal();
                $('#prijavaModal').modal('toggle');
            });
        $(document)
            .ready(function() {
                UpdateBookings();
            });
    </script>
}